<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="QQYYDataModel" connectionString="metadata=res://*/QQYYModel.csdl|res://*/QQYYModel.ssdl|res://*/QQYYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=3e3f970a-e1ea-4371-a69e-a03d0100270f.sqlserver.sequelizer.com;persist security info=True;user id=duzeqodwqenmyhuj;password=57HcZGF6jgQhiMupzBcMhzXTzQxZWGcnGeTW4A4Hq8aEZaTbWqcDpjoChWKijPhJ;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="AccountService" path="/services/account/*" verb="*" type="Loye.QQYY.Web.Handlers.AccountService,Loye.QQYY.Web"/>
      <add name="UserService" path="/services/user/*" verb="*" type="Loye.QQYY.Web.Handlers.UserService,Loye.QQYY.Web"/>
      <add name="PaymentTypeService" path="/services/paymenttype/*" verb="*" type="Loye.QQYY.Web.Handlers.PaymentTypeService,Loye.QQYY.Web"/>
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="Accounts.htm"/>
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
